# Ignore node_modules in all subdirectories
node_modules/

# Ignore all .env files
.env*

# ignore local env files
.env.local

# Ignore a specific env file in a subdirectory
backend/.venv

# Ignore auto generated Python files
backend/__pycache__
*.py[cod]
*$py.class
